title: "Наша библиотека решений"
description: "Сайт с решениями задач из книг"
baseurl: "/TrynaGetSmarter
url: "https://bzzzrka.github.io"
theme: minima

markdown: kramdown
permalink: pretty

plugins:
  - jekyll-feed
  - jekyll-seo-tag
