title: "Наша библиотека решений"
description: "Сайт с решениями задач из книг"
baseurl: "/TrynaGetSmarter"
url: "https://bzzzrka.github.io"
#theme: minima

permalink: pretty
markdown: kramdown
kramdown:
  parse_block_html: true
  parse_span_html: true

plugins:
  - jekyll-feed
  - jekyll-seo-tag
